*{
    font-size: 18px;
    font-family: sans-serif;
}
span{
    margin-right: 4px;
    color: #777777;
}
a:link{
    color: #777777;
    font-weight: bold;
    text-decoration: none;
}
img{
    width: 100%;
}

/*stretch goal. intermediate media query*/
@media only screen and (orientation: landscape) {

}

@media only screen and (min-width: 800px) {
    img {
        width: 25%;
        margin: 5px;
    }
    .clearfix {
        content: "";
        display: table;
        clear: both;
    }
}
