/*TODO: nav, aside, basic building blocks*/
* {
    font-size: 18px;
    font-family: helvetica;
}

h1 { 
    margin: 0;
    font-size: 24px;
    margin-bottom: 15px;
    width: 80%;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 1em;
}

footer {
    padding: 5%;
}
