/*TODO: logos, classes*/

.heading-group-h1 {
    background:rgb(250, 233, 151);      
    float: left;
    padding: 10px 10px 5px 10px;
    width: 100%; 
}

.icon-menu {
    position: absolute;
    font-size: 40px;
    top: 2px;
    right: 1px;
    margin-left: 4px;
    float: right;
}

.main-nav {
    padding: 0.1em;
}

.main-nav ul {
    display: none;
    padding: 0;
    list-style: none;
    clear: both;
}

.main-nav:hover ul {
    display: block;
}

.main-nav li {
    margin-right: .4em;
    font-size: 1.5em;
    padding: .5em .2em;
    border-bottom: 1px solid white;
}

.byline time address{
    font-size: 12px;
    color: grey; 
}

#filters {
    padding: 0;
    list-style: none;
}

.template {
    display: none;
}

.byline {
    color: grey;
}

@media only screen (minimum 640px) {

.icon-menu {
    display
}
}
